[Unit]
Description=Jupyter Notebook Server
After=network.target

[Service]
User={{ jupyter_user }}
Group={{ jupyter_user }}
Type=simple
WorkingDirectory={{ jupyter_notebooks_dir }}
ExecStart=/usr/bin/python3 /usr/bin/jupyter-notebook --config="{{ jupyter_config_file }}"
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target.target

